#content{
    text-align: center;
}
#unu{    
    padding: 30px;
    width: 50%;    
    display: block;
    margin: auto;
    transform: scale(1.5);
}
table{    
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid blue;
}
td {
    text-align: left;
    border: 1px solid cyan;
}
body {
    font-size: larger;
    font-family: Arial;
}